# IDEA files
/.idea/
/out/
/*.iml

# Gradle build files
/.gradle/
/build/
src/main/resources/docs/

## Gradle Home
/.gradle-user-home/

# MacOS custom attributes files created by Finder
.DS_Store
*.iml
bin/

# Temp files
_temp/

# Stockie runtime persistence
/stockie-inventory.dat
/stockie-inventory.dat.tmp
**/stockie-inventory.dat
**/stockie-inventory.dat.tmp

/text-ui-test/ACTUAL.TXT
text-ui-test/EXPECTED-UNIX.TXT

# Workspace files
${workspaceFolder}/
